.exp-section {
    align-items: unset !important;
}

.exp-wrapper {
    width: 1100px;
    margin-top: 50px;

    .name-text {
        margin-bottom: 3rem;
    }

    .exp-content-wrapper {
        width: 100%;
        display: flex;

        .exp-highlights {
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .highlights ul {
                margin-left: 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.7rem;
            }

            .sub-heading-title {
                font-size: 24px;
                font-family: 'Baloo Da 2';
                opacity: 0.7;
                font-weight: bold;
            }
        }

        .exp-progress {
            width: 60%;
            .exp-comp {
                display: flex;
                justify-content: end;
                gap: 35px;
                .exp-date {
                    opacity: 0.7;
                    font-size: 16px;
                    padding-top: 1rem;
                }
                .exp-comp-content {
                    width: 350px;
                    .exp-comp-name {
                        font-size: 18px;
                        opacity: 0.7;
                    }
                    .exp-comp-designation {
                        font-size: 24px;
                        // margin-top: -10px;
                    }
                    .exp-comp-text {
                        margin-bottom: 1rem;
                    }
                }
            }

            .exp-circle {
                width: 3px;
                background: #000;
            }
            .exp-circle::before {
                content: "";
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: #000;
                display: block;
                margin-left: -14px;
                margin-top: 1rem;
            }
        }
    }
}

@media (max-width: 900px) {
    .exp-section {
        .exp-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            .exp-content-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                .exp-highlights, .exp-progress {
                    width: 100%;
                }
                .exp-progress {
                    display: flex;
                    overflow: scroll;
                    -ms-overflow-style: none;  /* Internet Explorer 10+ */
                    scrollbar-width: none;
                    .exp-circle {
                        display: none;
                    }
                    .exp-comp {
                        width: 300px;
                        margin-top: 2rem;
                        gap: 15px;
                        flex-direction: column;
                        .exp-date {
                            font-size: 12px;
                        }
                        .exp-comp-designation{
                            font-size: 16px;
                        }
                        .exp-comp-text {
                            font-size: 14px;
                        }
                        .exp-comp-content {
                            width: 300px;
                        }
                    }
                }
                .exp-progress::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
    
}